#artist-edit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--blue-light);
}

#artist-edit-form {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
  border-radius: 1rem;
  gap: 0.3rem;
  width: 60vw;
  background-color: white;
  box-shadow: var(--box-shadow);
}
#artist-edit-form > h3 {
  color: var(--blue-dark);
  margin-bottom: 2rem;
}

#artist-edit-form > label {
  color: var(--blue-m);
  margin-left: 0.5rem;
  font-size: 1.25rem;
}

#artist-edit-form > input {
  border: unset;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.468);
  box-shadow: var(--box-shadow2);
}
#artist-edit-form > input:focus {
  outline: unset;
  color: black;
}

#artist-edit-form > textarea {
  border: unset;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.468);
  box-shadow: var(--box-shadow2);
  min-width: 100%;
  max-width: 100%;
  min-height: 10rem;
}

#artist-edit-form > textarea:focus {
  outline: unset;
  color: black;
}

#artist-edit-form > button {
  margin-top: 2rem;
  text-align: center;
  max-width: 40%;
  border-radius: 0.5rem;
  background-color: var(--blue-m);
  color: var(--blue-lighter);
  padding: 0.5rem 1rem;
  border: unset;
  font-size: 1.1rem;
  cursor: pointer;
}

#artist-edit-form > button:hover {
  color: white;
  background-color: var(--contrast-orange);
}

#artist-edit-wrapper > h2:hover {
  color: white;
}

#artist-edit-return {
  position: fixed;
  top: 50%;
  left: 5vw;
  line-height: 0;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  font-size: 1.5rem;
  border: unset;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#artist-edit-return:hover {
  border-radius: 50%;
  color: white;
  background-color: var(--blue-dark);
}

@media screen and (width < 900px) {
  #artist-edit-form {
    width: 80vw;
    padding: 2rem 3rem;
  }
}

@media screen and (width < 600px) {
  #artist-edit-form > h3 {
    margin-bottom: 1rem;
  }
  #artist-edit-form > textarea {
    min-height: 80vh;
  }

  #artist-edit-form {
    padding: 2rem;
  }
}
