#logout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(white, var(--blue-light));
  min-height: 100vh;
}

#logout-wrapper > h1 {
  color: var(--blue-dark);
  padding: 2rem;
}

#logout-wrapper > span {
  display: flex;
  gap: 2rem;
}

#logout-wrapper > span > button {
  box-shadow: var(--box-shadow2);
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  background-color: var(--blue-dark);
  color: white;
  border: unset;
  cursor: pointer;
}

#logout-wrapper > span > button:hover {
  color: var(--blue-lighter);
  background-color: var(--blue-m);
}
