li {
  list-style-type: none;
}

#root {
  display: grid;
  margin: auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#error-page {
  display: flex;
  margin-top: 30vh;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}
