* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Nunito-ExtraLight;
  src: url("./fonts/NunitoSans/NunitoSans_10pt-ExtraLight.ttf");
}

@font-face {
  font-family: Nunito-Bold;
  src: url("./fonts/NunitoSans/NunitoSans_10pt-Bold.ttf");
}

@font-face {
  font-family: Nunito-Medium;
  src: url("./fonts/NunitoSans/NunitoSans_10pt-Medium.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Nunito-Bold;
}

p {
  font-family: Nunito-ExtraLight;
}

button,
li,
label,
textarea,
a {
  font-family: Nunito-Medium;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style-type: none;
}

#root {
  display: grid;
  margin: auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

input:focus {
  outline: unset;
}

textarea::-webkit-scrollbar {
  width: 0.5rem;
}

/* ERROR PAGES */

#error-page {
  display: flex;
  margin-top: 30vh;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

.submitted-form-space > p:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
