* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Calistroga;
  src: url("./fonts/Calistoga/Calistoga-Regular.ttf");
}

@font-face {
  font-family: Gilda-Display;
  src: url("./fonts/Gilda_Display/GildaDisplay-Regular.ttf");
}

body {
  font-family: Gilda-Display, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
