#add-event-form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.077);
}

#add-event-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

/* all items within the form have (x) max-width */
#add-event-form > * {
  width: 33vw;
}

#add-event-form > h3 {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  display: block;
  text-align: center;
}

#add-event-form > input {
  text-align: center;
  height: 3rem;
  border-radius: 1.2rem;
  border: unset;
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 1rem 1rem 1.1rem 1rem;
  margin-bottom: 1rem;
}

#add-event-form > input:focus {
  color: black;
}

#add-event-form > textarea {
  /* Linked with form width */
  min-width: 33vw;
  max-width: 33vw;
  min-height: 4rem;
  max-height: 600px;
  text-align: center;
  height: 3rem;
  border-radius: 1.2rem;
  border: unset;
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 1rem 1rem 1.1rem 1rem;
  margin-bottom: 1rem;
}

#add-event-form > textarea:focus {
  color: black;
  outline: unset;
}

#add-event-form > button {
  width: 20vw;
  padding: 0.7rem 0;
  font-size: 1rem;
  border-radius: 2rem;
  border: unset;
  background-color: rgba(0, 0, 0, 0.478);
  color: white;
  margin-top: 1rem;
}

#add-form-picture {
  margin: 2rem 0;
  width: 120px;
  height: 120px;
}
