#admin-section-wrapper {
  background-color: white;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#admin-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
#admin-section-latest {
  width: 100%;
  display: flex;
  padding: 1rem;
}

#admin-section-latest > span {
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  padding: 3rem;
  width: 100%;
  overflow: hidden;
} */
