#add-event-form-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--blue-light);
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

#add-event-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

#add-event-form > h3 {
  color: var(--blue-m);
}
#add-event-form > input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  box-shadow: var(--box-shadow2);
  border: unset;
}
#add-event-form > input:focus {
  font-weight: 600;
}

#add-event-form > label {
  padding: 0.2rem 0.2rem;
  color: var(--blue-dark);
  font-size: 1rem;
  font-weight: 600;
}

#add-event-form > textarea {
  min-width: 60vw;
  max-width: 60vw;
  padding: 0.5rem;
  min-height: 3rem;
  border: unset;
  box-shadow: var(--box-shadow2);
  border-radius: 0.5rem;
}

#add-event-form > input:focus {
  outline: none;
  /* background-color: var(--blue-m); */
}

#add-event-form > button {
  background-color: var(--blue-dark);
  margin: 1rem 2rem;
  max-width: 60%;
  align-self: center;
  padding: 0.75rem 3rem;
  border-radius: 1rem;
  color: white;
  box-shadow: var(--box-shadow2);
}

#add-event-form-navigation-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30vh;
  left: 5vw;
  z-index: 3;
}

#add-event-form-navigation-box > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#add-event-form-navigation-box > ul > li {
  font-size: 2rem;
  color: var(--blue-m);
  line-height: 0;
  padding: 0.75rem;
  border-radius: 2rem;
  background-color: var(--blue-lighter);
}

#add-event-form-navigation-box > ul > li:hover {
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  background-color: var(--blue-lighter);
  color: var(--blue-dark);
}

#submitted-event-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
}

#submitted-event-wrapper > h1 {
  font-size: 3rem;
  color: var(--blue-dark);
}

#submitted-event-wrapper > p {
  font-weight: 600;
  font-size: 2rem;
}

#submitted-event-wrapper > p:nth-child(3) {
  color: var(--blue-m);
  line-height: 0;
}

#submitted-event-wrapper > p:nth-child(3):hover {
  color: white;
}

@media screen and (width < 760px) {
  #add-event-form {
    margin-left: 4rem;
  }

  #add-event-form > textarea {
    min-width: 70vw;
    min-height: 40vh;
  }

  #add-event-form-navigation-box {
    left: 2vw;
  }
}
