#event-reel {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 3rem;
  gap: 1rem;
  margin: 2rem 0;
}

#event-reel article {
  min-height: 30vh;
}

#load-more-events {
  display: flex;
  width: 100vw;
  justify-content: center;
}

#load-more-events > button {
  box-shadow: var(--box-shadow2);
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  background-color: var(--contrast-orange);
  color: white;
  border: unset;
  cursor: pointer;
}

#load-more-events > button:hover {
  background-color: var(--blue-m);
  color: var(--blue-lighter);
}

@media screen and (width < 880px) {
  #event-reel {
    padding: 0 1rem;
    grid-template-columns: 1fr 1fr;
  }
  #load-more-events {
    margin-top: 2rem;
  }
}

@media screen and (width < 660px) {
  #event-reel {
    grid-template-columns: 1fr;
  }
}
