#purchase-modal-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  top: 30vh;
  background-color: var(--blue-dark);
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 49;
}

#purchase-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  background-color: var(--blue-light);
  z-index: 50;
  padding: 10rem;
  border-radius: 1rem;
}

#purchase-modal > h1 {
  margin-bottom: 3rem;
}

/* CLOSE MODAL BUTTON */
#purchase-modal > button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  line-height: 0;
  background-color: white;
  border: unset;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--blue-dark);
  border-radius: 50%;
  padding: 0.25rem;
}

#purchase-modal > button:hover {
  color: var(--contrast-orange);
}

#purchase-modal-grid {
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow2);
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 0.5rem;
}

#purchase-modal-grid > label {
  color: rgba(0, 0, 0, 0.75);
}

#purchase-modal-button-box {
  /* background-color: bisque; */
  display: grid;
  margin: 1rem auto;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  height: 3rem;
}

#purchase-modal-button-box > button {
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  border: unset;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: 1.25rem;
  color: white;
}

#purchase-modal-button-box > a {
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  border: unset;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: 1.25rem;
  color: white;
  text-align: center;
}

#purchase-modal-button-box > a:hover {
  background-color: white;
  outline: 0.1rem solid var(--blue-m);
  color: var(--blue-m);
}

#purchase-modal-button-box > button:nth-child(1) {
  background-color: var(--blue-light);
}

#purchase-modal-button-box > button:nth-child(1):hover {
  background-color: white;
  outline: 0.1rem solid var(--blue-m);
  color: var(--blue-m);
}

#purchase-modal-button-box > button:nth-child(2) {
  background-color: var(--blue-dark);
}

#purchase-modal-button-box > button:nth-child(2):hover {
  background-color: var(--contrast-orange);
}

@media screen and (width < 1100px) {
  #purchase-modal-button-box {
    width: 90%;
    height: 5vh;
  }

  #purchase-modal > button {
    font-size: 1.5rem;
  }

  #purchase-modal {
    padding: 1rem 1.5rem;
  }

  #purchase-modal-grid {
    margin-top: 3rem;
    padding: 1.5rem 1rem;
  }

  #purchase-modal-button-box {
    width: 90%;
    min-height: 5vh;
  }
}

@media screen and (width < 900px) {
  #purchase-modal > button {
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
  }

  #purchase-modal-grid {
    width: 90%;
    margin-top: 0;
    grid-template-columns: 1fr;
  }

  #purchase-modal-grid > label {
    font-size: 1.25rem;
  }

  #purchase-modal-grid > p {
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 0.05rem;
  }

  #purchase-modal {
    padding: 4rem 3rem;
  }
}

@media screen and (width < 660px) {
  #purchase-modal-button-box {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }
}
