#header-navigation {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#header-navigation > li {
  color: var(--blue-dark);
  font-size: 1.5rem;
}

#header-navigation > li:hover {
  color: var(--blue-light);
}
