main {
  max-width: 100vw;
  min-height: 100vh;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

main > h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: var(--box-shadow);
}
