main {
  /* max-width: 100vw; */

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  width: 100vw;

  /* overflow: hidden; */
}

main > h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: var(--box-shadow);
  margin-top: 2rem;
}

main > h3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: var(--box-shadow2);
  margin-bottom: 2rem;
}

@media screen and (width < 600px) {
  main > h2 {
    font-size: 1.5rem;
  }
}
