/* register form color swatches */

:root {
  --blue-m: #425a7d;
  --blue-light: #a0c0d6;
  --blue-lighter: #e5fafc;
  --contrast-orange: #df7356;
  --blue-dark: #2a3240;
}

#register-form-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--blue-dark);
}

#register-curtain {
  display: flex;
  width: 56vw;
  margin: 1rem;
  background-color: var(--blue-light);
  transition: 1.4s all ease-out;
  border-radius: 1rem;
  padding: 0.5rem;
}

#register-curtain:hover {
  margin-left: 10vw;
  width: 70vw;
}

#register-form-navigation-box {
  position: fixed;
  right: 4rem;
  top: 4rem;
}

#register-form-navigation-box > ul {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

#register-form-navigation-box > ul > li {
  font-size: 2rem;
  cursor: pointer;
  color: var(--blue-lighter);
  padding: 1rem;
  line-height: 0;
  border-radius: 50%;
  transition: 0.3s all ease;
}

#register-form-navigation-box > ul > li:hover {
  background-color: var(--blue-m);
}

/* Targetting the form */

#user-register-form {
  /* GOLDEN RULE */
  position: fixed;
  left: 20vw;
  top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register-input-box {
  display: grid;
  margin: auto;
}
.register-input-box > label {
  font-size: 1.2rem;
  color: var(--blue-m);
  margin-bottom: 0.5rem;
}

.register-input-box > input {
  display: block;
  border: unset;
  background: var(--blue-dark);
  font-size: 1rem;
  color: var(--blue-light);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.register-input-box > input:focus {
  color: var(--blue-lighter);
}
/* ERROR MESSAGES STYLING */

.register-error-message {
  /* the error message stays hidden for now */
  opacity: 1;
  /* the error message stays hidden for now */
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0;
  color: var(--blue-lighter);
}

.input-fields-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#user-register-form > h3 {
  color: var(--contrast-orange);
}

#user-register-form > h3:hover {
  color: var(--blue-m);
}
#user-register-form > button {
  background-color: transparent;
  border: none;
  margin-top: 2rem;
  color: var(--blue-dark);
  display: flex;
  align-items: end;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#user-register-form > button:hover {
  color: var(--contrast-orange);
}

.input-fields-wrapper > button:focus {
  border: unset;
}
